@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 30px;
    height: auto;
    filter: grayscale(100%);
}

.logo:hover{
    filter: grayscale(0%);
}

.logon{
    width: 40px;
    height: auto;
    filter: grayscale(100%);
}

.nav-item{
    padding-left: 30px;
    color: white;
}

.nav-mid{
    padding-left: 280px;
}

.jumbotron{
    margin-top: 150px;
}

.end{
    padding-top: 200px;
}

section{
    margin-top: 80px;
    margin-bottom: 50px;
}

.skill{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    filter: grayscale(100%);
}

.view-more{
    margin-top: 50px
}

.skill:hover{
    filter: grayscale(0%);
}

.img-fluid{
    filter: grayscale(100%);
}

.img-fluid:hover{
    filter: grayscale(0%);
} 

.card-img-top{
    filter: grayscale(100%);
}

.card-img-top:hover{
    filter: grayscale(0%);
}

.card-img{
    filter:opacity(50%);
}

.nizam{
    height: 550px; width:auto; filter: grayscale(100%);
}

.judul{
    font-size: 50px;
}

#web{
    margin-top: 100px;
}

.project{
    text-align: center;
    margin-bottom: 50px;
}

.img-project{
    width: 600px;
    height: auto;
}

.footer{
    margin-bottom: 50px;
}

.blue{
    color: #303030;
}

.link{
    text-decoration: none;
    color: black;
}


@media (max-width: 575.98px) { 
    .jumbotron{
        margin-top: 100px;
    }

    .judul{
        font-size: 30px;
        text-align: center;
    }

    .nizam{
        height: 300px;
        width: auto;
        justify-content: center;
    }

    .end{
        padding-top: 10px;
    }

    .text{
        text-align: center;
    }

    .img-fluid{
        visibility: hidden;
        height: 0px;
    }

    .card-ach{
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .card-pro{
        margin-top: 30px;
    }

    .card-img{
        height: 200px;
        width: auto;
    }

    .nav-mid{
        text-align: center;
        padding-left: 0px;
    }

    .nav-end{
        text-align: center;
    }

    .text{
        font-size: 12px;
    }

    .jumbotron{
        margin-top: 100px;
    }

    .img-project{
        width: 300px;
        height: auto;
    }
}